page-home {
  .pinch-zoom-container {
    overflow: visible;
    /* height: 900px; */
  }

  .pinch-zoom-image {
    width: 100%;
  }



  img{
    max-width: none !important;
    border: none !important;
  }
}
